---
layout: default
---

<div class="home">

  <h1 class="page-heading">Публикации</h1>

  <ul class="post-list">
    {% assign posts = site.posts %}
    {% for post in posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><span class="post-meta">{{ post.date | date: "%-d -m, %Y" }}</span></a>

        <h2>
		{% if post.categories contains "guest" %}
          <a class="post-link" href="{{ post.link }}">{{ post.title }} →</a>
		{% else %}
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		{% endif %}
        </h2>
	  {{ post.content }}
    {% include taglist.html %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">подписаться <a href="{{ "/feed.xml" | prepend: site.baseurl }}">по RSS</a></p>

</div>
